- var trackNames = ['', 'Azure Track', 'Amber Track', 'Emerald Track'];
mixin entryItem(key, entrySide, timeSide, data)
  - var cls = 'entry--' + entrySide + ' bg--' + (data.type.toLowerCase().replace(' ', '-') || '') + ' track--' +data.track
  - var modalClass = 'modalTrack-' + key
  li.entry(class='' +cls)
    .time(class='time--'+timeSide) #{data.time}
    .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
      h2.title #{data.title}
      if data.abstract
        .abstract
          .ellipsis
            | #{data.abstract.substr(0,120)}...
            a.abstract-modal(href='javascript://', data-key= key, data-toggle="modal") read more

        .modal-content.hidden(id='modal'+key)
          .modalContent(class= 'modal-track--' +data.track)
            .modal-header
              h2.modal-title #{data.title}
              button.close
                span(aria-hidden="true") &times;
            .modal-body
              - var presenters = Array.isArray(data.presenter || []) ? data.presenter : [data.presenter];
              each presenter in presenters
                .row.presenter-row
                  .col-md-4.col-sm-5.col-xs-12
                    .avatar
                      img(src= presenter.avatarUrl)
                  .col-md-8.col-sm-7.col-xs-12
                    h3 #{presenter.name}
                    h3
                      em #{presenter.role},
                      span #{presenter.company}
                    .social
                      if presenter.twitter
                        a.icon.icon-twitter(href='https://www.twitter.com/'+presenter.twitter, target='_blank')
                          span @#{presenter.twitter}
                      if presenter.fb
                        a.icon.icon-fb(href= presenter.fb, target='_blank')
                          span Facebook
                      if presenter.linkedin
                        a.icon.icon-linkedin(href= presenter.linkedin, target='_blank')
                          span LinkedIn
                      if presenter.web
                        a.icon.icon-web(href= presenter.web, target='_blank')
                          span Web
                    if presenters.length === 1
                      h4 Time: #{data.time}
                      h5 Track #{data.track}
              if presenters.length > 1
                .row.mt-20
                  .col-sm-12
                    h4 Time: #{data.time}
                    h5 Track #{data.track}
              h5.glimpse A brief glimpse of talk
              p #{data.abstract}

    //- if data.type.toLowerCase() != 'break' && data.abstract
    //-   .track-info #{trackNames[parseInt(data.track, 10)]}

mixin entryList
  -
    var agendaJson =   [
      {	"time": "8:30 AM - 9:15 AM", 	track: 1,	title: "Registration",	duration: "45 Mins",	type: "break" },
      {	"time": "9:15 AM - 9:30 AM",	track: 1,	title: "Keynote",	duration: "15 Minutes",	type: "break" },
      {	"time": "9:30 AM - 10:00 AM",	"track": 1,	"title": "Augmented Reality on mobile browser",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarF.jpg",
        "name": "Bhagyashree Waval", "role": "", "company": "ThoughtWorks, Pune",
        "twitter": "",
        "web": ""
         },
         "abstract": "Augmented Reality is a powerful technology providing innovative solutions in the industry. Let’s discuss it and explore some technologies to see how it can be achieved in the mobile browser.",
         "duration": "30 Minutes",
         "type": "Small Talk"
      },
      {	"time": "10:05 AM - 10:20 AM",	"track": 1,	"title": "ECMA2018 & What’s Next? ESNext",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Divya Nambiar", "role": "", "company": "ThoughtWorks, Pune",
        "twitter": "",
        "web": ""
         },
         "abstract": "New features in ECMA2018 And what’s next in ESNext:",
         "duration": "15 Minutes",
         "type": "Small Talk"
      },
      {	"time": "10:25 AM - 11:10 AM",	"track": 1,	"title": "Animation in UI Design",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Anish Thomas", "role": "", "company": "ThoughtWorks, Bangalore",
        "twitter": "",
        "web": ""
         },
         "abstract": "Even the simplest of animation convey an emotion or mood. As the tech advanced it has become easier to integrate animated interface elements in the UI design now a days. In this session we'll be understanding the motion design and it's importance  in User Interfaces.",
         "duration": "45 Minutes",
         "type": "Small Talk"
      },
      {	"time": "11:10 AM - 11:30 AM",	"track": 1,	"title": "Tea Break",	"duration": "15 Minutes",	"type": "break" },
      {	"time": "11:30 AM - 12:00 PM",	"track": 1,	"title": "Improving Performance using Web Assembly",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Abdulsattar & Durga", "role": "", "company": "ThoughtWorks, hyderabad",
        "twitter": "",
        "web": ""
         },
         "abstract": "As web applications become more complex, the need for performance has become paramount. Web Assembly promises ~30% performance over Javascript. In this talk, we cover the basics of Web Assembly, how it interops with Javascript and some usecases where it can be helpful.",
         "duration": "45 Minutes",
         "type": "Small Talk"
      },
      {	"time": "12:05 PM - 12:20 PM",	"track": 1,	"title": "Difference between callbacks, promise and async/await",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Razin Memon", "role": "", "company": "ThoughtWorks, hyderabad",
        "twitter": "",
        "web": ""
         },
         "abstract": "Discussion on differences of all 3 ways of doing asynchronous operations that are async/await, callback hell and promises. We'll use the 1 API call example and try to explain how same thing can be done by this 3, if time permits, we can add more examples",
         "duration": "15 Minutes",
         "type": "Small Talk"
      },
      {	"time": "12:25 PM - 12:55 PM",	"track": 1,	"title": "Typescript: Fix your type errors before going to production",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Jagat Jeevan Sahoo", "role": "", "company": "ThoughtWorks, Bengaluru",
        "twitter": "",
        "web": ""
         },
         "abstract": "",
         "duration": "30 Minutes",
         "type": "Small Talk"
      },
      {	"time": "1:00 PM - 1:15 PM",	"track": 1,	"title": "WebRTC: The web's answer to p2p",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Saurabh Machave", "role": "", "company": "ThoughtWorks, Bengaluru",
        "twitter": "",
        "web": ""
         },
         "abstract": "WebRTC enables us to communicate directly with other clients using the app without the need of the data to flow through a server first. This enables more real-time transfer of data which is suitable for a wide variety of applications like video conferencing, gaming, collaborative editing of documents among others. This talk will talk about how to use it, what it is capable of doing and comparing it with other protocols like Websockets.",
         "duration": "15 Minutes",
         "type": "Small Talk"
      },
      {	"time": "1:15 PM - 2:00 PM",	"track": 1,	"title": "Lunch Break",	"duration": "45 Minutes",	"type": "break" },
      {	"time": "3:20 PM - 4:35 PM",	"track": 1,	"title": "ML with JS: Intro to Tensor flow",	"presenter": { 
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",	
        "name": "Ankit Shukla", "role": "", "company": "ThoughtWorks, Chennai",	
        "twitter": "",
        "web": ""
         },
         "abstract": "As world is getting accelerated with ML engines from facial unlocking of phones to classification of outer space radiations, how we can use the power of ML with JS to make device agnostic browser applications? How can we make smart applications without reliance on backend services? This session intends to be a ready reckoner for developing application using TensorFlow.js. The Proposed agenda is:1. Intro To Topic and ML Taxonomy - ML, Types of ML[Supervised vs Unsupervised] , Deep Learning, Neural Nets - 20 mins2. What's TensorFlow.js ? - 5 mins3. Tensors - 10 mins4. Getting your data ready for processing - 15 mins5. Creating Your First Neural Net in JS - 20 mins6. MNIST - Number Identification - 40 mins 7. Using Pre-trained models - 20 mins  8. Extending Pre-trained models[Transfer Learning] - 20 minsThis talks intends to be introductory in nature , where working from basics we would move towards building a small application.Note: No prior knowledge of ML concepts is needed. JS scripting would be a prerequisite.",
         "duration": "150 Minutes",
         "type": "Small Talk"
      },
      {	"time": "9:30 AM - 10:00 AM",	"track": 2,	"title": " CSS Grid in real world",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Jagat Jeevan Sahoo", "role": "", "company": "ThoughtWorks, Bengaluru",
        "twitter": "",
        "web": ""
         },
         "abstract": "Understanding the power of simplicity of code. Make use of Css grid in day-to-day life to create complex layouts in less code and time. The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning, yet responsive.",
         "duration": "30 Minutes",
         "type": "Small Talk"
      },
      {	"time": "10:05 AM - 10:20 AM",	"track": 2,	"title": "Tracking your Exploratory UI tests",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Bharath Kumar Hemachandran", "role": "", "company": "ThoughtWorks, Bengaluru",
        "twitter": "",
        "web": ""
         },
         "abstract": "Exploratory tests are very important to determine the quality of an application. However, it is difficult to standardize the quality of testing since each tester has his/her own way to perform testing. Moreover, it is hard to track the status of testing. The ACC (Attribute/Component/Capability) method of testing could provide a lean yet formal framework that would lend more transparency into the process of exploratory testing. The talk would be around using the ACC method for exploratory testing",
         "duration": "15 Minutes",
         "type": "Small Talk"
      },
      {	"time": "10:25 AM - 10:55 AM",	"track": 2,	"title": "Mobile UI in Flutter",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Ankit Luthra", "role": "", "company": "ThoughtWorks, Pune",
        "twitter": "",
        "web": ""
         },
         "abstract": "Flutter is Google’s mobile app SDK for crafting high-quality native interfaces on iOS and Android in record time. It is a modern reactive framework with Expressive and flexible UI. Flutter lets you reuse your existing Java/Kotlin and ObjC/Swift code, and access native features and SDKs on Android and iOS. Presentation can feature a simple mobile app use case using flutter.",
         "duration": "30 Minutes",
         "type": "Small Talk"
      },
      {	"time": "11:00 AM - 11:15 AM",	"track": 2,	"title": "How to test web apps accessibility",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Ankit Luthra", "role": "", "company": "ThoughtWorks, Pune",
        "twitter": "",
        "web": ""
         },
         "abstract": "The general notion around implementation of web accessibility is to use semantic tags, aria attribute, tabIndex, etc. These are some good practices but what is more important is how do we test the accessibility. In this talk I am going to share my experience on the testing aspect of it",
         "duration": "15 Minutes",
         "type": "Small Talk"
      },
      {	"time": "11:15 AM - 11:30 AM",	"track": 1,	"title": "Tea Break",	"duration": "15 Minutes",	"type": "break" },
      {	"time": "11:30 AM - 12:00 PM",	"track": 2,	"title": "State management in Angular 6/7 with NgRx",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Shivam Latawa, Lilima", "role": "", "company": "ThoughtWorks, Pune",
        "twitter": "",
        "web": ""
         },
         "abstract": "It's hard to manage the state of the application as there are various types of states involved in the UI application. So this talk will cover the various types of state and how you can effectively use NgRx (a reactive implementation of Redux) with Angular apps to manage the state of your application.",
         "duration": "30 Minutes",
         "type": "Small Talk"
      },
      {	"time": "12:05 AM - 12:35 AM",	"track": 2,	"title": "Let's talk about web performance",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Gokulakrishnan Kalaikovan", "role": "", "company": "ThoughtWorks, Bengaluru",
        "twitter": "",
        "web": ""
         },
         "abstract": "Will be starting with State of Web in 2019, understanding the metrics like FCP, FID etc and how it helps us to server better. And more on JS, CSS, Fonts, Media optimizations, using effective caching strategies, server optimizations such as brotli compression etc. And tools available in 2019 for web dev's to measure and optimize web performances. ",
         "duration": "30 Minutes",
         "type": "Small Talk"
      },
      {	"time": "12:40 AM - 1:10 PM",	"track": 2,	"title": "React Native vs Ionic vs NativeScript- Battle Of Mobile Development",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Divya Nambiar + Mishu", "role": "", "company": "ThoughtWorks, Bengaluru",
        "twitter": "",
        "web": ""
         },
         "abstract": "Comparing the frameworks based on the following criteria: 1)Code and development tools — what language it uses, how the UI is created, what are the tools used for developing apps.2)Development workflow 3)Native APIs and extensibility — which native APIs are available and how easy it is to add native functionality.4)Performance",
         "duration": "30 Minutes",
         "type": "Small Talk"
      },
      {	"time": "1:15 PM - 2:00 PM",	"track": 1,	"title": "Lunch Break",	"duration": "45 Minutes",	"type": "break" },
      {	"time": "2:00 PM - 3:15 PM",	"track": 2,	"title": "CI and CD with github and Travis",	"presenter": {
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",
        "name": "Jagat Jeevan Sahoo + Pritesh", "role": "", "company": "ThoughtWorks, Bengaluru",
        "twitter": "",
        "web": ""
         },
         "abstract": "We are familiar with Github with code storage and versioning. Unleashing the power of GitHub to collaborate it with remote people, managing your project, tracking your progress and hosting your static pages and many more things, eradicating other tools used for project management. We would also use travis for building our project and continuous deployment to Github pages. We would also cover a wide variety of best practices of our code on the go.",
         "duration": "75 Minutes",
         "type": "Small Talk"
      },

      {	"time": "3:20 PM - 4:35 PM",	"track": 2,	"title": "End to end testing with Cypress",	"presenter": { 
        "avatarUrl": "./assets/images/speakers/avatarM.jpg",	
        "name": "Surender Lohia", "role": "UI developer", "company": "ThoughtWorks, Bengaluru",	
        "twitter": "",
        "web": ""
         },
         "abstract": "Cypress is a JavaScript End to End Testing Framework. Workshop will include a brief intro about cypress and then handson with already developed project.",
         "duration": "75 Minutes",
         "type": "Small Talk"
      }
    ];
  - for (var x = 0; x < agendaJson.length; x++)
    - var item = agendaJson[x]
    - var entry = item.entry ? item.entry : (x%2 === 0 ? 'left' : 'right');
    - var time = item.timearea ? item.timearea : (x%2 === 0 ? 'right' : 'left');
    +entryItem(x, entry, time, item)

section.about-section.schedule#schedule
  .container
    .row
      .col-sm-6.col-md-8
        .title-section
          h1 Schedule
          span.track1 Track1
          span.track2 Track2
      //- .col-sm-6.col-md-4.side-section
        a#content-btn.cta-button(href='./content.html') Content available hereis



  ul.timeline.timeline--first
    li.era
      h2.era__title
        span Saturday, 6
        sup th
        span April
    +entryList()