- var trackNames = ['', 'Azure Track', 'Amber Track', 'Emerald Track'];
mixin entryItem(key, entrySide, timeSide, data)
  - var cls = 'entry--' + entrySide + ' bg--' + (data.type.toLowerCase().replace(' ', '-') || '') + ' track--' +data.track
  - var modalClass = 'modalTrack-' + key
  li.entry(class='' +cls)
    .time(class='time--'+timeSide) #{data.time}
    .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
      h2.title #{data.title}
      if data.abstract
        .abstract
          .ellipsis
            | #{data.abstract.substr(0,120)}...
            a.abstract-modal(href='javascript://')(data-key= key, data-toggle="modal") read more

        .modal-content.hidden(id='modal'+key)
          .modalContent(class= 'modal-track--' +data.track)
            .modal-header
              h2.modal-title #{data.title}
            .modal-body
              .row
                .col-md-4.col-sm-5.col-xs-12
                  .avatar
                    img(src= data.presenter.avatarUrl)
                .col-md-8.col-sm-7.col-xs-12
                  h3 #{data.presenter.name}
                  h3
                    em #{data.presenter.role},
                    span #{data.presenter.company}
                  .social
                    if data.presenter.twitter
                      a.icon.icon-twitter(href='https://www.twitter.com/'+data.presenter.twitter, target='_blank')
                        span @#{data.presenter.twitter}
                    if data.presenter.fb
                      a.icon.icon-fb(href= data.presenter.fb, target='_blank')
                        span Facebook
                    if data.presenter.linkedin
                      a.icon.icon-linkedin(href= data.presenter.linkedin, target='_blank')
                        span LinkedIn
                    if data.presenter.web
                      a.icon.icon-web(href= data.presenter.web, target='_blank')
                        span Web

                  h4 Time: #{data.time}
                  h5 Track #{data.track}
              br
              h5.glimpse A brief glimpse of talk
              p #{data.abstract}

    //- if data.type.toLowerCase() != 'break' && data.abstract
    //-   .track-info #{trackNames[parseInt(data.track, 10)]}

mixin entryList
  - var agendaJson = [{"time":"9:30 AM - 9:45 AM","track":1,"title":"Keynote","duration":"15 Minutes","type":"Keynote"},{"time":"9:45 AM - 10:20 AM","track":1,"title":"Unfolding the Unfold UI logo","presenter":{"avatarUrl":"./assets/images/speakers/nikhil.jpg","name":"Nikhil Mehta","role":"UI Developer","company":"ThoughtWorks, Pune","twitter":"nikhil_001mehta","web":"https://nikhil-001mehta.github.io/"},"abstract":"1) Basics of animation\n2) How we approached to create the animation for Unfold UI logo. \n3) Brief about what calculations we did and how we figure out individual animation of each and every small component which will altogether put the logo in shape. ","duration":"35 Minutes","type":"Small Talk"},{"time":"10:20 AM - 10:50 AM","track":1,"title":"Forms, components and considerations","presenter":{"avatarUrl":"./assets/images/speakers/harshal.jpg","name":"Harshal Patil","twitter":"mistyharsh","web":"https://blog.webf.zone","role":"Front-end architect","company":"Monjin Interviews Pvt. Ltd."},"abstract":"Irrespective of what front-end framework you chose, form handling is a complicated subject with lots of UX styles and variations. It is always impossible to design consistent form language for the application.\nThe talk will address all the concerned that should be considered before the team starts development of any sort of application forms. Talk starts with simple focus and blur events and then all the till validations and accessibility.","duration":"30 Minutes","type":"Small Talk","entry":"left","timearea":"right"},{"time":"11:00 AM - 11:15 AM","track":1,"title":"Tea Break","duration":"15 Minutes","type":"break"},{"time":"11:15 AM - 12:00 PM","track":1,"title":"Functional Programming in JS & ESNext ","presenter":{"avatarUrl":"./assets/images/speakers/ram.jpg","name":"Ram Shinde","role":"UI Developer","company":"ThoughtWorks, Pune","twitter":"ramshinde92"},"abstract":"This Talk would cover:\n1) Unlearning Imperative & applying principles of functional programming in Javascript.\n2) Overcoming Mutations using Functional pattern which are root cause for many bugs. [Also Examples of libraries which are following this principles]\n3) Covering ESNext Features which can be handy in day to day code. [Will include few features which are in finished state of TC39]","duration":"45 Minutes","type":"Small Talk","entry":"right","timearea":"left"},{"time":"12:00 PM - 12:45 PM","track":1,"title":"Two-dimensional page layout","presenter":{"avatarUrl":"./assets/images/speakers/prakash.jpg","name":"Prakash Upadhyay","role":"UI Developer","company":"ThoughtWorks, Gurgaon","twitter":"prakashup"},"abstract":"A powerful and modern way to layout the page components leveraging browser support with minimal code. We have been using frameworks like bootstrap, foundation etc to design page layout. With this new way of implementing code, It would be possible to make a good isolation of the semantics and style. While flexbox being a 1-dimensional, CSS Grid provide us 2-dimensional layout. Other advantages of using the modern techniques for page layout is to keep the code clean, segregated and sanity of the markup.","duration":"45 Minutes","type":"Talk","entry":"right","timearea":"left"},{"time":"12:30 PM - 1:15 PM","track":1,"title":"Lunch Break & Switch Track","duration":"60 Minutes","type":"break"},{"time":"1:45 PM - 2:15 PM","track":1,"title":"Static type checking in JS with Flow","presenter":{"avatarUrl":"./assets/images/speakers/shivam.jpg","name":"Shivam Latawa","role":"UI Developer","company":"ThoughtWorks, Pune","twitter":"shivam_latawa"},"abstract":"In a dynamically typed language like JS it becomes hard to catch some errors at an early stage of development which is not the case with the statically typed language. Flow JS lets you add the ability of static type checking in your JS code which makes your code faster and smarter. So this talk will basically highlight how to introduce Flow in your project and the important features of it.","duration":"30 Minutes","type":"Small Talk"},{"time":"1:45 PM - 2:15 PM","track":2,"title":"Build React component in Scala.js","presenter":{"avatarUrl":"./assets/images/speakers/poorva.jpg","name":"Poorva","role":"UI Developer","company":"ThoughtWorks, Pune"},"abstract":"This talk will share our findings in following areas - 1. scala.js, 2.React wrapper in scala.js, 3. Interoperability that scala.js offers. 4. Can you reuse react component written in scala in javascript. Pros and cons of approaches that we explored. ","duration":"30 Minutes","type":"Talk","entry":"left","timearea":"right"},{"time":"2:15 PM - 2:45 PM","track":1,"title":"Supercharge your debugging experience","presenter":{"avatarUrl":"./assets/images/speakers/ravi.jpg","name":"Ravi Sharma","role":"UI Developer","company":"ThoughtWorks, Pune","twitter":"irvisharma","fb":"https://www.facebook.com/rvisharma","web":"http://rvi.life"},"abstract":"Debugging code is a skill. Chrome devtools are great and has a lot of features but most of the people are not aware of those features. My plan is to present a talk that will contain mini demos of devtools feature showing the problem and how to identify them using dev tools. Will go into pain points of debugging and their remedies.\n\nSome examples - Debugging and modifying live website, writing snippets to automate manual tasks, talk about lighthouse, identify memory leaks and show them how to solve the issues.\n\nAfter this talk, audience will be able to use devtools more efficiently which will make their debugging journey easier.","duration":"30 Minutes","type":"Talk","entry":"right","timearea":"left"},{"time":"2:15 PM - 2:45 PM","track":2,"title":"Normalizing data in web applications","presenter":{"avatarUrl":"./assets/images/speakers/swapneel.jpg","name":"Swapneel Desai","role":"UI Developer","company":"ThoughtWorks, Pune"},"abstract":"The talk will cover the following topics:\n\n# What is normalizing of Data?\n# Why is it required in frontend?\n# Libraries for normalizing data?\n# Implementing normalization of data in different frameworks, Angular/Vue/Redux (Code slides)\n# Updating normalized data (Code slides)\n# Other examples of complex data states in Web applications like Facebook/Gmail/Admin Dashboards etc...\n# Preferred libraries to be used along with normalize. Eg. Memoize data, cache data etc.","duration":"30 Minutes","type":"Small Talk","entry":"left","timearea":"right"},{"time":"2:45 PM - 3:00 PM","track":1,"title":"Tea Break","duration":"15 Minutes","type":"break"},{"time":"3:00 PM - 5:30 PM","track":1,"title":"Progress with PWA - Workshop","presenter":{"avatarUrl":"./assets/images/speakers/ramanathan.jpg","name":"Ramanathan","twitter":"","linkedin":"https://www.linkedin.com/in/ramanathan-muthuraman-141336a/","web":"https://github.com/ramanathanMuthuraman/","role":"UI Developer","company":"ThoughtWorks, Bangalore"},"abstract":"Understand the concepts of Progressive Web App and try some of it while we explain the concepts. Its more of a hands on session while learning the concepts.","duration":"150 Minutes","type":"Workshop","entry":"right","timearea":"left"},{"time":"3:00 PM - 5:30 PM","track":2,"title":"VueJs - Workshop","presenter":{"avatarUrl":"./assets/images/speakers/digvijay.jpg","name":"Digvijay","role":"UI Developer","company":"ThoughtWorks, Pune"},"abstract":"Why Vue? Vue is a lightweight framework, with clear separation of concerns (JS/HMTL/CSS). It is a progressive framework for building user interfaces and is incrementally adoptable. Let’s learn its ecosystem in simplest way possible with this workshop. Wow! No prior knowledge of vue.js required.","duration":"150 Minutes","type":"workshop","entry":"left","timearea":"right"},{"time":"5:30 PM - 5:45 PM","track":1,"title":"Closing note","duration":"5 Minutes","type":"switch"}];
  - for (var x = 0; x < agendaJson.length; x++)
    - var item = agendaJson[x]
    - var entry = item.entry ? item.entry : (x%2 === 0 ? 'left' : 'right');
    - var time = item.timearea ? item.timearea : (x%2 === 0 ? 'right' : 'left');
    +entryItem(x, entry, time, item)

section.about-section#schedule
  .container
    .title-section
      h1 Schedule


  ul.timeline.timeline--first
    li.era
      h2.era__title
        span Saturday, 11
        sup th
        span August
    +entryList()